{% extends "questionnaire/base.html" %}

{% load static %}

{% block content %}
<div id="my-card" class="container justify shadow">
  <div class="row">
    <div class="col" >
      <h2>Acerca del test</h2>
      <br>
      <p>
      El <b>Test de Autonomía Psicológica</b> es un test experimental basado en el modelo del Desarrollo Moral del Dr. Manuel Villegas Besora (2011, 2013, 2015).
      </p>
      <p>
      <b>Autores:</b>
      <br />
      Albert Vidal Raventós
      <br />
      Alejandro García Gutiérrez
      <br />
      Víctor Rouco González
      <br />
      <br />
      <b>Supervisor:</b>
      <br />
      Manuel Villegas Besora
      </p>
      <br>
      <h5>Referencias:</h5>
      <p>
      <br />
      Villegas, M. (2011). <i>El Error de Prometeo. Psico(pato)logía del desarrollo moral.</i> Barcelona: Herder.
      <br />
      Villegas, M. (2013). <i>Prometeo en el Diván. Psicoterapia del desarrollo moral.</i> Barcelona: Herder.
      <br />
      Villegas, M. (2015). <i>El Proceso de Convertirse en Persona Autónoma.</i> Barcelona: Herder.
      </p>
      <br />
      <h1>
      ¡Muchas gracias por tu participación!
      </h1>
      <br>
      <!--
      <a href="">Si quieres saber más, haz click aquí (vídeo Elia)</a>
      <br>
      <br>
      <h4>Si te ha gustado, ¡comparte!</h4>
      <br>
      <div class="fb-share-button" data-href="https://tecnicaderejilla.net" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftecnicaderejilla.net%2F&amp;src=sdkpreparse">Compartir</a></div>
      <br>
      <br>
      <div><a href="https://twitter.com/share" class="twitter-share-button" data-text="¿Eres una persona autónoma? Haz gratis el test online de autonomía psicológica." data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
      -->
    </div>
  </div>
</div>
{% endblock %}

